/**************************************************************
 * Global Definitions                                         *
 **************************************************************/

html, body{
  height: 100%;
  padding : 0;
  margin : 0;
}

input[type="file"]{
  display: none;
}

/**************************************************************
 * Header Definitions                                         *
 **************************************************************/

header{
  height: 40px;
  background: #5866CE;
  width: 100%;
}

header table{
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

header table img{
  width: 16px;
  display: block;
  float: left;
}

header table span{
  cursor : pointer;
  display: block;
  margin: auto;
  margin-left: 10px;
}

header table td:last-child{
  width: 150px;
}

section{
  height: calc(100% - 40px);
  background: pink;
  width: 100%;
  position: relative;
}

/**************************************************************
 * Section Defitions                                          *
 **************************************************************/

section article{
  position: absolute;
  left: 0;
  height: 100%;
  width: calc(100% - 300px);
  background: #f3f3f3;
}

section article div.tabs{
  width: 100%;
  height: 27px;
  border-bottom: 1px solid #aaa;
}

section article div.labels{
  width: calc(100% - 20px);
  height: 19px;
  border-bottom: 1px solid #aaa;
  position: relative;
}

section article div.body{
  width: 100%;
  height: calc(100% - 48px);
  overflow-y: scroll;
  position: relative;
}

section article div.labels div.offset,
section article div.body div.offset{
  width: 139px;
  position: absolute;
  left: 0;
  border-right: 1px solid #ccc;
  text-align: right;
  min-height: 100%;
}

section article div.labels div.offset li,
section article div.body div.offset li{
  padding-right: 6px;
  list-style: none;
  letter-spacing: 1px;
  color: #1C31BC;
}

section article div.labels div.binary,
section article div.body div.binary{
  width:329px;
  position: absolute;
  left: 140px;
  border-right: 1px solid #ccc;
  min-height: 100%;
}

@media all and (max-width: 1120px){
  section article div.labels div.text,
  section article div.body div.text{
    display: none;
  }
}

section article div.labels div.text,
section article div.body div.text{
  width:340px;
  position: absolute;
  left: 470px;
  background: yellow;
  min-height: 100%;
}

section article ul.line{
  width: 100%;
  list-style: none;
  display: block;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

section article ul.line li.q{
  width: 25%;
  list-style: none;
  display: inline-block;
}

/**************************************************************
 * Sidebar Definitions                                        *
 **************************************************************/

section aside{
  width: 299px;
  background: #C1C1C1;
  height: 100%;
  position: absolute;
  right: 0;
  border-left: 1px solid #aaa;
}

section aside li.label:first-child{
  border-top: 1px solid #aaa;
}

section aside li.label{
  width: 100%;
  padding: 4px 0;
  list-style: none;
  border-bottom: 1px solid #aaa;
  background: #E5E5E5;
  text-indent: 4px;
  cursor: pointer;
}

section aside ul.toolkit{
  padding: 0;
  margin: 0;
  height: calc(100% - 109px);
}
