/**************************************************************
 * Global Definitions                                         *
 **************************************************************/

html, body{
  height: 100%;
  padding : 0;
  margin : 0;
}

input[type="file"]{
  display: none;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/**************************************************************
 * Header Definitions                                         *
 **************************************************************/

header{
  height: 40px;
  background: #487497;
  width: 100%;
  color: #fff;
  font-size: 14px;
  text-shadow: 1px 1px #333;
  //font-weight: bold;
  font-family: verdana,arial,helvetica;
  -webkit-font-smoothing: antialiased;
}

header table{
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

header table img{
  width: 16px;
  display: block;
  float: left;
}

header table span{
  cursor : pointer;
  display: block;
  margin: auto;
  margin-left: 10px;
}

header table td:nth-child(1),
header table td:nth-child(2),
header table td:nth-child(3),
header table td:nth-child(4){
  width: 100px;
}

header table td:nth-child(6),
header table td:nth-child(7),
header table td:nth-child(8){
  width: 150px;
}

section{
  height: calc(100% - 40px);
  background: pink;
  width: 100%;
  position: relative;
}

/**************************************************************
 * Section Defitions                                          *
 **************************************************************/

section article{
  position: absolute;
  left: 0;
  height: 100%;
  width: calc(100% - 420px);
  background: #f3f3f3;
  font-family: monospace !important;
  font-size: 16px;
}

section article div.tabs{
  width: 100%;
  height: 27px;
  border-bottom: 1px solid #aaa;
  position: relative;
}

section article div.tabs li:first-child{
  margin-left: 0;
}

section article div.tabs li{
  width: 20%;
  height: calc(100% - 1px);
  border: 1px solid #aaa;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  list-style: none;
  display: block;
  float: left;
  border-bottom: none;
  position: relative;
  margin-left: -1px;
}

section article div.tabs li table{
  width: calc(100% - 4px);
  height: 100%;
  margin-left: 4px;
  table-layout: fixed;
  border-collapse: collapse;
}

section article div.tabs li table td:last-child{
  width: 24px;
}

section article div.tabs li table td:last-child img{
  width: 18px;
  display: block;
  margin: auto;
  padding-bottom: 2px;
  opacity: 0.6;
  cursor: pointer;
}

section article div.tabs li.active{
  height: 100%;
  background: #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  z-index: 1;
}

section article div.labels{
  width: 100%;
  height: 19px;
  border-bottom: 1px solid #aaa;
  position: fixed;
  background: #fefefe;
  z-index: 1;
}

section article div.body{
  width: 100%;
  height: calc(100% - 20px);
  top: 20px;
  overflow-y: scroll;
	overflow-x: hidden;  
	position: relative;
  -webkit-transform: translateZ(0);
}

section article div.labels div.tabs{
	width: 400px;
	height: 100%;
	display : block;
	float : right;
	background: pink;
}

section article div.labels div.tabs table{
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

section article div.labels div.offset{
  width: 139px;
  position: absolute;
  left: 0;
  text-align: right;
}

section article div.body div.offset{
  width: 139px;
  position: absolute;
  left: 0;
  text-align: right;
  min-height: 100%;
}


section article div.labels div.offset li,
section article div.body div.offset li{
  padding-right: 6px;
  list-style: none;
  letter-spacing: 1px;
  color: #1C31BC;
}

section article div.labels div.binary{
  padding-left: 10px;
  width:389px;
  position: absolute;
  left: 140px;
  //border-right: 1px solid #ccc;
  min-height: 100%;
  letter-spacing: 1px;
}

section article div.body div.binary{
  padding-left: 10px;
  width:389px;
  position: absolute;
  left: 140px;
  //border-right: 1px solid #ccc;
  min-height: 100%;
  letter-spacing: 1px;
}

section article div.body div.offset li{
  padding-top: 5px;
  padding-bottom: 5px;
}

section article div.body div.text li{
	font-family: monospace !important;
  padding-top: 4px;
  padding-bottom: 4px;
}

section article div.body div.binary li{
  padding-top: 3px;
  padding-bottom: 3px;
}

@media all and (max-width: 1320px){
  section article div.labels div.text,
  section article div.body div.text{
    display: none;
  }
}

section article div.labels div.text{
  width:360px;
  position: absolute;
  left: 560px;
  background: #D2E6F7;
  min-height: 100%;
}

section article div.body div.text{
  width:260px;
  position: absolute;
  left: 560px;
  background: #D2E6F7;
  min-height: 100%;
}

section article div.body div.text li,
section article div.labels div.binary li,
section article div.body div.binary li{
  width: 100%;
  list-style: none;
  display: block;
  white-space: nowrap;
}

section article div.body div.text li table,
section article div.labels div.binary li table,
section article div.body div.binary li table{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

section article div.body div.text li table td div{
	letter-spacing: 1px;
	text-align: center;
}

section article div.body div.binary li table td div{
	border: 1px solid rgba(0,0,0,0);
}

section article div.body div.binary li table td div:hover{
	border: 1px solid #3E4DF2;
	cursor: pointer;
}

/**************************************************************
 * Sidebar Definitions                                        *
 **************************************************************/

section aside{
  width: 419px;
  background: #C1C1C1;
  height: 100%;
  position: absolute;
  right: 0;
  border-left: 1px solid #aaa;
}

section aside li.label:first-child{
  border-top: 1px solid #aaa;
}

section aside li.header{
  width: 100%;
  list-style: none;
  border-bottom: 1px solid #aaa;
  background: #fefefe;
  text-indent: 4px;
  height: 19px;
}

section aside div.text{
  height: calc(100% - 20px);
  background: #454449;
	position: relative;
}

section aside div.text textarea{
  width: calc(100% - 2px);
  min-height: calc(100% - 2px);
  resize: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

section aside div.text div.tools{
	width: 100%;
	height: 40px;
	background: #eee;
}

section aside div.text div.textbox{
	width: 100%;
	height: calc(100% - 60px);
  background: #444444;
}

section aside div.text div.status{
	width: 100%;
	height: 20px;
	background: #eee;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
}

section aside div.text div.overlay{
	width: 100%;
	height: calc(100% - 20px);
	position: absolute;
	top: 0;
	left: 0;
	background: #C9C9C9;
	overflow-y: auto;
}

section aside div.text div.overlay li{
	width: 100%;
	list-style: none;
	padding: 4px 0;
	border-bottom: 1px solid #aaa;
	min-height: 10px;
}

section aside div.text div.overlay li table{
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

section aside div.text div.overlay li table td:last-child,
section aside div.text div.overlay li table td:first-child{
	width: 80px;
}

section aside li.footer{
  width: 100%;
  list-style: none;
  border-top: 1px solid #aaa;
  text-indent: 4px;
  height: 19px;
}
